<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Abrigo de Gatos</title>
</head>
<body style="font-family: Arial, sans-serif;">
    <h1>🐾 Abrigo de Gatos</h1>
    <div class="navbar">
        <a href="{{ url_for('main.index') }}">Início</a>
        <a href="{{ url_for('gatos.lista_gatos') }}">Nossos Gatinhos</a>
        {% if current_user.is_authenticated and current_user.tipo == 'admin' %}
        <a href="{{ url_for('adocoes.listar_adocoes') }}">Adoções</a>
        <a href="{{ url_for('medicacoes.listar_medicacoes') }}">Medicações</a>
        {% endif %}
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.logout') }}">Logout</a>
        {% if current_user.is_authenticated and current_user.tipo == 'geral' %}
            <a href="{{ url_for('adocoes.minhas_adocoes') }}">Minhas Adoções</a>
        {% endif %}
        {% else %}
            <a href="{{ url_for('main.login') }}">Login</a>
            <a href="{{ url_for('main.registro') }}">Registrar-se</a>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
</body>

<!-- Script para exibir popup de mensagens Flash -->
<script>
    // Verificar mensagens Flash no template
    document.addEventListener("DOMContentLoaded", function () {
        const flashMessages = {{ get_flashed_messages(with_categories=true) | tojson }};
        flashMessages.forEach(([category, message]) => {
            if (category === 'success') {

                const overlay = document.createElement('div');
                overlay.classList.add('overlay');


                const popup = document.createElement('div');
                popup.classList.add('popup');


                const messageText = document.createElement('p');
                messageText.textContent = message;


                const button = document.createElement('button');
                button.textContent = 'Ok';
                button.addEventListener('click', function () {
                    overlay.remove();
                    window.location.href = "{{ url_for('main.index') }}";
                });


                popup.appendChild(messageText);
                popup.appendChild(button);
                overlay.appendChild(popup);
                document.body.appendChild(overlay);
            }
        });
    });
</script>

</html>
