{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abrigo de Gatos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Bem-vindo(a) ao Abrigo de Gatos!</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {% if category == 'error' %}error{% else %}success{% endif %}">
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
{% endblock %}

